/.idea
/bin
/gen
/out
/AndroidFramework.iml
/local.properties
/test/AnimationsDemo/gen
.settings
assets
*.classpath
*.project
*.iml
projectlibs/google-play-services_lib/gen/
test/AndroidFrameworkL/gen/
test/AnimationsDemo/bin/
projectlibs/google-play-services_lib/bin/
